<div id="main-content" class="container">

  <div class="row">
    <div class="col-md-6">
      <form class="form-inline">
        <div class="form-group">
          <label for="connect">WebSocket connection:</label>
          <button (click)="connect()" class="btn btn-default" type="button">Connect</button>
          <button (click)="disconnect()" class="btn btn-default" type="button">Disconnect</button>
          <input [(ngModel)]="email" class="w3-radio" type="radio" name="user" value="master@gmail.com">
          <label>User 1</label>
          <input [(ngModel)]="email" class="w3-radio" type="radio" name="user" value="admin@gmail.com">
          <label>User 2</label>
        </div>
      </form>
    </div>

    <div class="w3-container">
      <div class="content w3-row">
          <ul *ngIf="msgs.length > 0">
            <li *ngFor="let msg of msgs" class="w3-container w3-ul">
              <p class="{{msg.format}}"><label class="timestamp w3-left-align">{{msg.timeStamp}}</label><br>{{msg.message}}</p>
            </li>
          </ul>
      </div>
      <div class="message w3-bottom w3-grey w3-row">
        <div class="w3-section w3-right-align w3-padding">
          <input class="w3-input w3-right-align" type="text" placeholder="Type message here"
            [(ngModel)]="clientMsg.message" (keyup.enter)="sendMessage()">
          <button class="w3-button w3-blue w3-card-4 w3-margin-top w3-large" (click)="sendMessage()" type="button"><i
              class="fa fa-send-o"></i> Send</button>
        </div>
      </div>
    </div>

  </div>
