<div id="main-content" class="container">

  <div class="row">
    <div class="col-md-6">
      <form class="form-inline">
        <div class="form-group">
          <label for="connect">WebSocket connection:</label>
          <button (click)="connect()" class="btn btn-default" type="submit">Connect</button>
          <button (click)="disconnect()" class="btn btn-default" type="submit" disabled="disabled">Disconnect
          </button>
        </div>
      </form>
    </div>

    <div class="w3-row-padding w3-margin">
      <div class="w3-content">
        <table class="w3-table w3-bordered w3-half">
          <tbody>
            <tr *ngFor="let client of clientMsgs">
              <td class="w3-left w3-padding-16">{{client}}</td>
            </tr>
          </tbody>
        </table>
        <table class="w3-table w3-bordered w3-half">
          <tbody>
            <tr *ngFor="let server of serverMsgs">
              <td class="w3-right w3-padding-16">{{server.content}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="w3-bottom w3-card w3-section w3-margin">
      <div class="w3-right w3-padding">
          <input type="text" placeholder="whats on your mind?" [(ngModel)]="msg" (keyup.enter)="sendMessage()" name="name">
        <a class="w3-button w3-blue w3-card-4" (click)="sendMessage()" class="btn btn-default" type="submit"><i class="fa fa-send-o"></i> Send</a>
      </div>
    </div>

  </div>
